.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

@media screen and (max-width: 800px) {
    .form-wrapper {
        flex-direction: column;
        justify-content: center;
    }
}

.FilterTool {
    width: 100%;
    display: flex;
    margin: 20px;
}

.form-select {
    border: none;
    margin-left: 20px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 300;
}

.filter-select {
    margin-left: 20px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 300;
}

.label {
    font-weight: 500;
}