.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: teal;
    padding: '20px';
    border-radius: '15px';
}

.sub-list {
    display: flex;
    flex-direction: column;
}